html,
body {
  width: 100%;
  height: 100%;
  margin: 0; /* Supprime les marges par défaut */
  padding: 0; /* Supprime les marges intérieures */
  overflow: hidden; /* Évite le scroll */
}

body {
  display: flex; /* Utilise Flexbox pour occuper toute la hauteur */
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5) no-repeat;
  background-size: cover; /* Couvre tout l'écran avec le dégradé */
}

.connected,
.disconnected {
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
}

.connected {
  background-color: green;
}

.disconnected {
  background-color: red;
}
